.App {
  text-align: center;
  /* background-color: #b50202; // red */
  background-color: #02a249;
  color: white;
  height: 100%;
  font-style: italic;
  text-transform: uppercase;
}

.App a {
  color: white;
}

.App-header {
  background-color: #333;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 20px;
  line-height: 1.1em;
}

span {
  display: inline-block;
}
