.App {
  text-align: center;
  background-color: #02a249;
  color: white;
  height: 100%;
  overflow: auto;
  font-style: italic;
  text-transform: uppercase;
}

.App a {
  color: white;
}

.App-header {
  background-color: #292828;
  padding: 5px 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.App-madeby {
  text-transform: initial;
  font-style: initial;
  color: #ffffff94;
  margin-top: 0;
  margin-bottom: 20px;
}

.App-content {
  font-size: 20px;
  line-height: 1.1em;
  padding: 15px 30px;
}

a.videoPlaylistLink {
  color: -webkit-link;
  font-size: 22px;
}

.loadingPlaylist {
  color: #f3f300;
}

.error {
  color: #faff00;
}

span {
  display: inline-block;
}

.playlist-container {
  text-transform: initial;
  font-style: initial;
  display: flex;
  flex-wrap: wrap;
}

.playlist-name {
  display: block;
  margin: 10px;
}

.playlist-li {
  padding: 17px 9px;
  flex: 1 1 0px;
  border: 1px solid #ffffff3b;
  min-width: 300px;
}

.youtube-disclaimer {
  font-size: 10px;
  color: #ffffff94;
  max-width: 600px;
  text-align: left;
  margin: 0 auto 10px;
  text-transform: initial;
  font-style: initial;
}

.youtube-disclaimer-important {
  color: red;
}
