.App {
  text-align: center;
  background-color: #02a249;
  color: white;
  height: 100%;
  overflow: auto;
  font-style: italic;
  text-transform: uppercase;
}

.App a {
  color: white;
}

.App-header {
  background-color: #292828;
  padding: 5px 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  font-size: 20px;
  line-height: 1.1em;
  padding: 0 0 10px;
}

.videoPlaylistLink {
  color: red;
  font-size: 22px;
  -webkit-text-fill-color: #f50000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.loadingPlaylist {
  color: #f3f300;
}

.error {
  color: red;
  -webkit-text-fill-color: #f50000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

span {
  display: inline-block;
}
